<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpCompression>
      <dynamicTypes>
        <add enabled="true" mimeType="application/js"/>
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="application/js"/>
      </staticTypes>
      <dynamicTypes>
        <add enabled="true" mimeType="application/css"/>
      </dynamicTypes>
      <staticTypes>
        <add enabled="true" mimeType="application/css"/>
      </staticTypes>
    </httpCompression>
    <handlers>
      <remove name="PHP53_via_FastCGI" />
      <add name="PHP53_via_FastCGI" path="*.php" verb="GET,PUT,POST,DELETE,HEAD,OPTIONS,TRACE,PROPFIND,PROPPATCH,MKCOL,COPY,MOVE,LOCK,UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v5.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <staticContent>
     <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
   </staticContent>
  </system.webServer>
</configuration>